@import "../global";
@import "../libs/variables";
@import "../libs/mixins";
//sections
.wrapper {
  padding-top: 50px;
}
.event-rescription {
  overflow: hidden;
}
.back-link {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  background-color: $color-purple;
  text-align: center;
}
.event-description figure {
  width: 280px;
  height: 280px;
  border-radius: 50%;
  border: 4px solid $color-purple;
}
.info-block {
  margin-bottom: 20px;
  border-bottom: 2px dashed #cdcdcd;
}
.location,
.place,
.time,
.date {
  padding: 5px 5px 5px 30px;
  @include bg(left, center, 20px auto);
}
.rate {
  color: $color-purple;
}
.rate strong {
  font-size: 36px;
  line-height: 36px;
  font-weight: normal;
}
.range {
  display: inline-block;
  span {
    display: inline-block;
    vertical-align: bottom;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    border: 1px solid $color-purple;
    &.fill {
      background-color: $color-purple;
    }
    &.at-40 {
      height: 12px
    }
    &.at-60 {
      height: 18px;
    }
    &.at-80 {
      height: 24px;
    }
    &.at-100 {
      height: 30px;
    }
  }
}
.like,
.dislike {
  display: inline-block;
  background-repeat: no-repeat;
  background-size: 20px auto;
}
.like {
  padding: 5px 30px 5px 5px;
  background-position: right center;
  color: #127F00;
}
.dislike {
  padding: 5px 5px 5px 30px;
  background-position: left center;
  color: #7F0000;
}
.event-availability .shop {
  margin-bottom: 5px;
  padding: 5px;
  background-color: rgba(120, 0, 250, .3);
  border: solid rgba(0,0,0,.2);
  border-width: 2px 0;
  text-align: center;
  .shop h3 {
    margin: 0 0 10px;
  }
  .event-title {
    display: block;
  }
  .location,
  .time,
  .date {
    display: inline-block;
  }
}
.shop-logo {
  max-width: 280px;
  margin: 0 auto;
}
.shop-logo a {
  display: block;
  height: 100%;
}
.filled-heading {
  margin-bottom: 10px;
  padding: 10px 15px 8px;
  border-radius: 10px 10px 0 0;
  color: $color-white;
  background-color: $color-purple;
  border-bottom: 3px solid $color-deep-purple;
  text-transform: uppercase;
}
.reviews {
  h4 {
    margin: 0 0 5px;
  }
  .likes {
    padding: 0 10px;
    span {
      font-family: $font-medium;
    }
  }
  article {
    border: 2px solid $color-purple;
    h5 {
      margin: 0;
      padding: 8px 10px;
      background-color: $color-purple;
      color: $color-deep-purple;
    }
    h6 {
      padding: 0 10px;
    }
  }
  header {
    border-bottom: 2px solid $color-purple;
  }
  .text {
    padding: 5px 10px;
    color: $color-deep-purple;
    font-family: $font-medium;
  }
  .controls {
    overflow: hidden;
    button {
      width: 50%;
      padding: 0 5px;
      float: left;
    }
  }
  footer {
    border-top: 2px solid $color-purple;
    .expand-comment {
      background-color: $color-purple;
      color: $color-white;
    }
    .add-comment {
      padding-left: 45px;
      background: url('#{$path-svg}/plus.svg') no-repeat 5px center / 30px 30px;
      color: $color-purple;
      text-align: left;
    }
  }
  .comment-form {
    display: none;
    margin-bottom: 20px;
    .form-row {
      height: 90px;
      margin: 0;
      overflow-y: auto;
      overflow-x: hidden;
    }
    textarea {
      padding: 5px 10px;
      font: 12px/18px $font-bold;
      background-color: rgba($color-deep-purple, .5);
      color: $color-white;
    }
    button {
      padding: 10px 5px;
      background-color: rgba($color-green, .5);
      color: $color-white;
      &[type="reset"] {
        background-color: rgba($color-red, .5);
      }
    }
  }
}
.similar-events {
  .row {
    background-color: rgba($color-deep-purple, .1);
  }
}
.no-dev {
  .shop-logo a {
    opacity: .7;
    transition: opacity .3s ease;
    &:hover {
      opacity: 1;
    }
  }
}








