@import "../global";
@import "../libs/variables";
@import "../libs/mixins";
//sections
@import "../sections/slick";
@import "../sections/slick-theme";
@import "../sections/top-slider";

.about {
  margin-bottom: 20px;

}

@include lap {
  .about {
    p {
      font-size: 18px;
      line-height: 26px;
    }
  }
}

.no-dev {

}





