@import "../global";
@import "../libs/variables";
@import "../libs/mixins";
//sections
@import "../sections/reviews";
@import "../sections/slick";
@import "../sections/recommends-slider";
.wrapper {
  padding-top: 50px;
}
.profile-box {
  margin-bottom: 30px;
}
.profile-avatar {
  width: 240px;
  height: 240px;
  margin: 0 auto 30px;
  border-radius: 50%;
  border: 4px solid $color-purple;
  @include bg(center, center, cover);
}
.reviews {
  .review {
    margin-bottom: 40px;
  }
}
@include tab {
  .reviews {
    .controls {
      position: relative;
      padding-top: 24px;
      &:before {
        content: "";
        @include pos(absolute, 0, $right: 0);
        width: 75%;
        height: 3px;
        background-color: rgba($color-deep-purple, .3);
      }
      .btn {
        padding-top: 9px;
        padding-bottom: 9px;
      }
    }
  }
}
@include lap {
  .profile-box {
    margin-bottom: 50px;
  }
  .reviews {
    .review {
      margin-bottom: 90px;
    }
  }
}
.no-dev {
  .wrapper {
    padding-top: 150px;
  }
}








