@import "libs/libs";
//sections
@import "sections/style-guide";
@import "sections/animations";
@import "sections/font-face";
@import "sections/jcf";
@import "sections/header";
@import "sections/navigation";
@import "sections/event-search";
@import "sections/event-circle";
@import "sections/footer";
@import "sections/social-links";
@import "sections/wp-styles";

main {
  @include bg(center, center, cover);
  overflow: hidden;
  &:before {
    content: "";
    @include pos(absolute, 0,0,0,0);
    background-color: rgba($color-white, .5);
    opacity: 0;
    transition: opacity .3s ease;
    z-index: -1;
  }
}
.no-scroll {
  main {
    height: 100vh;
    overflow: hidden;
    &:before {
      opacity: 1;
      z-index: 1;
    }
  }
}
.container {

}
.logo {
  display: inline-block;
  width: 200px;
  height: 40px;
  @include bg(left, center, contain);
  a {
    display: block;
    height: 100%;
    text-indent: 9999px;
  }
}
.show-more {
  font: 24px/32px $font-light;
  background-color: $color-purple;
  border: 4px solid $color-light-purple;
  border-radius: 10px;
}
.menu-btn {
  position: relative;
  width: 40px;
  height: 40px;
  background-color: $color-purple;
  border-radius: 5px;
  cursor: pointer;
  z-index: 9999;
  span {
    @include pos(absolute, calc(50% - 15px), calc(50% - 15px));
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $color-white;
    &:before {
      content: "";
      @include pos(absolute, 8px, 12px);
      width: 4px;
      height: 12px;
      border: solid $color-white;
      border-width: 4px 0;
    }
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: calc(50% - 6px);
    left: 11px;
    width: 4px;
    height: 12px;
    border: solid $color-white;
    border-width: 4px 0;
  }
  &:after {
    left: 25px;
  }
}
@include lap {
  .show-more {
    font-size: 50px;
    line-height: 72px;
  }
  .no-dev {
    .logo {
      width: 260px;
      height: 85px;
    }
    .menu-btn {
      top: 36px;
      transition: background-color .3s ease;
      &:hover {
        background-color: $color-light-purple;
      }
    }
  }
}

.no-dev {
  .show-more {
    transition-property: border-color, background-color;
    transition: .3s ease;
    &:hover {
      border-color: $color-purple;
      background-color: $color-light-purple;
    }
  }
}