.event-search {
  margin-bottom: 40px;
  font: 12px/18px $font-light;
  color: $color-purple;
  .form-row,
  label {
    width: 100%;
    max-width: 320px;
    margin: 0 auto 10px;
  }
  label {
    padding: 5px 5px 5px 40px;
    font-weight: normal;
    @include bg(5px, center, auto, 80%);
  }
  .city,
  .rubric {
    padding: 0;
    @include bg(5px, center, auto, 80%);
    select {
      padding-left: 40px;
    }
  }
  .search-wrap {
    padding: 5px 40px 5px 10px;
    input[type="submit"] {
      display: block;
      @include pos(absolute, 0, $right: 0);
      width: 34px;
      height: 100%;
      @include bg(right 5px, center, auto, 80%);
      text-indent: -9999px;
      border-left: 1px solid $color-purple;
      background-color: rgba($color-purple, .3);
    }
  }
}
@include xtab {
  .event-search {
    font-size: 14px;
    form {
      text-align: justify;
      &:after {
        content: '';
        display: inline-block;
        width: 100%;
      }
    }
    .form-row {
      display: inline-block;
      vertical-align: top;
      max-width: 17%;
      margin: 0;
    }
    .search-wrap {
      max-width: 240px;
    }
  }
}
@include lap {
  .event-search {
    .search-wrap {
      max-width: 280px;
    }
  }
}
@include desk {
  .event-search {
    .search-wrap {
      max-width: 320px;
    }
  }
}
.no-dev {
  .search-wrap {
    input[type="submit"] {
      transition: backkground-color .3s ease;
      &:hover {
        background-color: $color-transparent;
      }
    }
  }
}