.footer_ {
  width: 100%;
  overflow: hidden;
  padding-bottom: 40px;
  color: $color-white;
  background-color: rgba($color-purple, .7);
  text-align: left;
  nav {
    a {
      position: relative;
      display: inline-block;
      padding: 8px 0;
      color: $color-white;
      &:after {
        content: "";
        @include pos(absolute, $bottom: 0, $left: 0);
        width: 0;
        height: 1px;
        background-color: $color-white;
        transition: width .3s ease-in;
      }
    }
  }
  .nav-item {
    width: 200px;
    margin: 0 auto;
    h3 {
      position: relative;
      padding-right: 20px;
      &:after {
        content: "";
        @include pos(absolute, 50%, $right: 0);
        width: 12px;
        height: 12px;
        border: 3px solid $color-transparent;
        border-right-color: $color-white;
        border-bottom-color: $color-white;
        transform: rotate(45deg) translate(-50%, 0);
        transition: transform .3s ease-in;
        will-change: transform;
      }
      &.open {
        &:after {
          transform: rotate(225deg) translate(-50%, -5px);
        }
      }
    }
    ul {
      display: none;
    }
  }
}
.no-dev {
  .footer_ {
    nav a:hover {
      &:after {
        width: 100%;
      }
    }
  }
}