.header_ {
  @include pos(fixed, 0,0);
  width: 100%;
  height: 50px;
  background-color: rgba($color-white, .8);
  z-index: 100;
  overflow: hidden;
  .container {
    position: relative;
  }
}
.menu-btn {
  @include pos(absolute, 5px, $right: 5px);
  width: 40px;
  height: 40px;
  float: right;
  background-color: $color-purple;
  border-radius: 5px;
  cursor: pointer;
  z-index: 9999;
  span {
    @include pos(absolute, calc(50% - 15px), calc(50% - 15px));
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid $color-white;
    &:before {
      content: "";
      @include pos(absolute, 8px, 12px);
      width: 4px;
      height: 12px;
      border: solid $color-white;
      border-width: 4px 0;
    }
  }
  &:before,
  &:after {
    content: "";
    position: absolute;
    top: calc(50% - 6px);
    left: 11px;
    width: 4px;
    height: 12px;
    border: solid $color-white;
    border-width: 4px 0;
  }
  &:after {
    left: 25px;
  }
}
.header-nav {
  display: none;
}
.no-dev {
  .header_ {
    height: 130px;
    padding-top: 6px;
  }
  .menu-btn {
    top: 36px;
  }
  .header-nav {
    display: block;
    float: right;
    padding: 36px 50px 0 0;
    li {
      display: inline-block;
      margin-right: 30px;
      &:last-child {
        margin-right: 0;
      }
    }
    a {
      font: 26px/40px $font-light;
      color: $color-purple;
    }
    .login {
      a {
        display: inline-block;
        padding: 0 10px 0 40px;
        border-radius: 6px;
        background-color: $color-purple;
        box-shadow: inset 0 0 10px 1px rgba($color-deep-purple, .8);
        color: $color-white;
        background: url('#{$path-svg}/login.svg') no-repeat 5px center / auto 30px;
      }
    }
  }
}
