.header_ {
  @include pos(fixed, 0,0);
  width: 100%;
  height: 50px;
  background-color: rgba($color-white, .8);
  z-index: 100;
  overflow: hidden;
  .container {
    position: relative;
  }
  .menu-btn {
    @include pos(absolute, 5px, $right: 5px);
  }
}
.header-nav {
  float: right;
  margin-right: 40px;
  ul {
    margin: 0;
  }
  li:not(.login) {
    display: none;
  }
  .login {
    margin-top: 5px;
    a {
      display: inline-block;
      position: relative;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: $color-purple url('#{$path-svg}/user-icon.svg') no-repeat center center / 60%;
      text-indent: -9999px;
      &:after {
        display: none;
      }
    }
  }
}
@include lap {
  .no-dev {
    .header_ {
      height: 100px;
      padding-top: 6px;
      .menu-btn {
        top: 23px;
        right: 15px;
      }
    }
    .header-nav {
      margin: 0;
      padding: 23px 50px 0 0;
      li {
        display: inline-block;
        margin-right: 30px;
        &:last-child {
          margin-right: 0;
        }
      }
      .login {
        margin: 0;
        a {
          width: auto;
          padding: 0 10px 0 40px;
          border-radius: 6px;
          box-shadow: inset 0 0 10px 1px rgba($color-deep-purple, .8);
          color: $color-white;
          background-image: url('#{$path-svg}/login.svg');
          transition-property: background-color, box-shadow;
          transition: .3s ease;
          @include bg(5px, center, auto, 30px);
          text-indent: 0;
          &:hover {
            background-color: $color-deep-purple;
            box-shadow: inset 0 0 10px 3px rgba($color-purple, .8);
          }
        }
      }
      a {
        position: relative;
        display: inline-block;
        font: 18px/40px $font-light;
        color: $color-purple;
        &:after {
          content: "";
          @include pos(absolute, $bottom: 0, $left: 0);
          width: 0;
          height: 1px;
          background-color: $color-purple;
          transition: width .3s ease;
        }
        &:hover:after {
          width: 100%;
        }
      }
    }
  }
}
