.main-nav {
  @include pos(fixed, 50px, $right: 0);
  width: 240px;
  height: calc(100vh - 50px);
  padding: 20px;
  transform: translateX(100vw);
  background-color: rgba($color-deep-purple, .9);
  text-align: right;
  transition: transform .3s ease-out;
  will-change: transform;
  overflow-y: scroll;
  overflow-x: hidden;
  z-index: 100;
  &.open {
    transform: translateX(0);
  }
  .menu-btn {
    display: none;
  }
  .logo {
    display: none;
  }
  .main-menu {
    > li {
      font: 18px/24px $font-bold;
      color: $color-purple;
      ul {
        padding-top: 10px;
      }
    }
    a {
      position: relative;
      display: inline-block;
      padding: 8px 0;
      font: 16px/24px $font-light;
      color: $color-white;
    }
  }
  .social-links {
    display: inline-block;
  }
  .event-search {
    margin-bottom: 20px;
    padding-top: 10px;
    font-size: 12px;
    text-align: left;
    form {
      display: block;
    }
    .form-row,
    label {
      width: 100%;
      max-width: 100%;
      margin-bottom: 10px;
    }
  }
  .navigation {
    margin-bottom: 20px;
  }
}
@include lap {
  .no-dev {
    .main-nav {
      width: 365px;
      height: 100vh;
      top: 0;
      .menu-btn {
        display: block;
        float: left;
      }
      .logo {
        display: block;
        width: 240px;
        float: right;
      }
      .main-menu {
        a:not(.social-link) {
          padding: 5px 0;
          &:after {
            content: "";
            @include pos(absolute, $bottom: 0, $left: 0);
            width: 0;
            height: 1px;
            background-color: $color-purple;
            transition: width .3s ease;
          }
          &:hover:after {
            width: 100%;
          }
        }
      }
    }
  }
}