.reviews {
  margin-bottom: 20px;
  h4 {
    color: $color-purple;
    font-family: $font-light;
    text-transform: uppercase;
  }
  article {
    margin-bottom: 20px;
  }
  .user-box {
    .user,
    h5 {
      display: inline-block;
      vertical-align: middle;
    }
    .user {
      position: relative;
    }
    .user-info {
      @include pos(absolute, calc(100% + 10px), $right: 14px);
      width: 140px;
      padding: 5px 10px;
      background-color: $color-white;
      border: 2px solid $color-purple;
      border-radius: 25px 0 25px 25px;
      &:before {
        content: "";
        @include pos(absolute, $bottom: 100%, $right: -2px);
        width: 0;
        height: 0;
        border: 5px solid $color-transparent;
        border-right-color: $color-purple;
        border-bottom-color: $color-purple;
        z-index: 0;
      }
      strong,
      time {
        font: 12px/16px $font-bold;
        color: $color-deep-purple;
      }
      span {
        position: relative;
        display: block;
        margin-bottom: 2px;
        color: rgba($color-deep-purple, .5);
        &:after {
          content: "";
          @include pos(absolute, 100%, 0);
          width: 70px;
          height: 1px;
          background-color: rgba($color-deep-purple, .3);
        }
      }
      .nickname {
        span {
          display: inline-block;
          max-width: 100%;
          vertical-align: middle;
          font: 12px/16px $font-bold;
          color: $color-purple;
          @include dots();
          &:after {
            display: none;
          }
        }
        &.liked {
          position: relative;
          &:before {
            content: "";
            display: inline-block;
            vertical-align: middle;
            width: 28px;
            height: 28px;
            margin-right: 5px;
            border-radius: 50%;
            background: $color-pink url('#{$path-svg}/heart.svg') no-repeat center center / 20px auto;
          }
          span {
            max-width: calc(100% - 35px);
          }
        }
      }
    }
    .avatar {
      width: 32px;
      height: 32px;
      border-radius: 50%;
      @include bg(center, center, cover);
    }
    h5 {
      margin: 0;
      width: calc(100% - 40px);
      padding: 8px 10px;
      color: $color-deep-purple;
      @include dots();
    }
  }
  .heading {
    padding: 0 10px 10px;
  }
  .likes {
    padding: 0 10px;
    border-bottom: 2px solid rgba($color-deep-purple, .2);
    span {
      font-family: $font-medium;
    }
  }
  .text {
    position: relative;
    max-height: 125px;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 5px 10px;
    color: $color-deep-purple;
    font-family: $font-medium;
    transition: max-height .3s ease;
    &:after {
      content: "";
      @include pos(absolute,$bottom: 0, $left: 0);
      width: 100%;
      height: 40px;
      background: linear-gradient(to top, rgba($color-white,1) 0%,rgba($color-white,0) 100%);
    }
    &.expanded {
      &:after {
        display: none;
      }
    }
  }
  .expand-review {
    text-align: right;
  }

//

  .expand-btn {
    display: inline-block;
    cursor: pointer;
    &:before,
    &:after {
      display: inline-block;
      vertical-align: middle;
    }
    &:before {
      content: "Развернуть";
      color: $color-purple;
      margin-right: 10px;
    }
    &:after {
      content: "";
      width: 32px;
      height: 32px;
      background: url('#{$path-svg}/leftarrow.svg') no-repeat center center / contain;
      transform: rotate(-90deg);
      transition: transform .3s ease;
      will-change: transform;
    }
    &.active:before {
      content: "Свернуть";
    }
    &.active:after {
      transform: rotate(90deg);
    }
  }

//

  .comments {
    border-top: 2px solid rgba($color-deep-purple, .3);
    padding-top: 20px;
  }
  .comment {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
    padding-top: 30px;
    font: 12px/16px $font-medium;
    &:nth-child(odd) {
      .comment-avatar {
        left: 0;
        &:after {
          right: -15px;
        }
      }
      .comment-text {
        padding: 10px 15px 0 60px;
        border-radius: 0 30px 30px 30px;
      }
    }
    &:nth-child(even) {
      .comment-avatar {
        right: 0;
        &:after {
          left: -15px;
        }
      }
      .comment-text {
        padding: 10px 60px 0 15px;
        border-radius: 30px 0 30px 30px;
      }
    }
  }
  .comment-avatar {
    @include pos(absolute,0);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid $color-purple;
    @include bg(center, top, cover);
    z-index: 1;
    &:after {
      content: "";
      @include pos(absolute, 14px);
      width: 28px;
      height: 28px;
      border-radius: 50%;
      background: $color-white url('#{$path-svg}/review-author-icon.svg') no-repeat center top 5px / 100%;
    }
  }
  .comment-text {
    border: 2px solid $color-purple;
    padding: 10px 20px 0;
    color: rgba($color-deep-purple, .5);
  }
  .controls {
    text-align: right;
    .btn {
      display: inline-block;
      vertical-align: middle;
      width: 48%;
      max-width: 160px;
      white-space: normal;
      font-size: 12px;
      text-align: left;
      border-radius: 20px;      
    }
    .add-comment {
      background: $color-purple url('#{$path-svg}/plus-white.svg') no-repeat 5px center / 30px 30px;
      color: $color-white;
      padding: 1px 5px 1px 45px;
    }
    .comments-qty {
      color: $color-purple;
      background-color: $color-white;
      border: 2px solid $color-purple;
      padding: 3px 5px;
      .qty {
        display: inline-block;
        width: 28px;
        height: 28px;
        margin-right: 5px;
        border-radius: 50%;
        background-color: $color-purple;
        color: $color-white;
        font: 20px/28px $font-medium;
        text-align: center;
      }
    }
  }
  .comment-form {
    // display: none;
    margin-bottom: 20px;
    .form-row {
      height: 90px;
      margin: 0;
      overflow-y: auto;
      overflow-x: hidden;
    }
    textarea {
      padding: 5px 10px;
      font: 12px/18px $font-bold;
      background-color: rgba($color-deep-purple, .5);
      color: $color-white;
    }
  }
}
@include tab {
  .reviews {
    header {
      overflow: hidden;
    }
    .user-name {
      float: left;
    }
    .heading {
      float: right;
      margin: 0;
      padding: 10px;
    }
    .likes {
      clear: both;
      text-align: right;
    }
    .controls {
      .buttons {
        width: 420px;
        float: right;
      }
      button {
        padding: 10px;
      }
      .add-comment {
        width: calc(50% - 3px);
        margin-left: 2px;
        border-left: 2px solid $color-purple;
      }
    }
    footer.controls button {
      padding-top: 5px;
      padding-bottom: 5px;
    }
    .comment {
      @include flex(row, space-between, center);
      font-size: 14px;
      &:nth-child(even) {
        flex-direction: row-reverse;
        .comment-text:before {
          right: -30px;
          border-left-color: $color-purple;
        }
        .comment-avatar:after {
          left: -10px;
        }
      }
      &:nth-child(odd) {
        .comment-text:before {
          left: -30px;
          border-right-color: $color-purple;
        }
        .comment-avatar:after {
          right: -10px;
        }
      }
    }
    .comment-avatar {
      position: relative;
      width: 120px;
      height: 120px;
      &:after {
        width: 40px;
        height: 40px;
        top: 0;
      }
    }
    .comment-text {
      position: relative;
      border-radius: 50px !important;
      font-size: 14px;
      width: calc(100% - 160px);
      &:before {
        content: "";
        @include pos(absolute, center);
        width: 0;
        height: 0;
        border: solid $color-transparent;
        border-width: 9px 15px;
      }
    }
  }
}
@include xtab {
  .reviews {
    overflow: hidden;
    .comments {
      width: 60%;
      float: right;
    }
  }
}
@include lap {
  .reviews {
    .user-name {
      max-width: 240px;
    }
    .heading {
      max-width: 600px;
      padding-top: 9px;
      float: left;
    }
    .likes {
      padding-top: 6px;
      clear: none;
      float: right;
    }
    .text {
      font-size: 14px;
    }
  }
}
