.social-links {
  ul {
    @include inlined();
    width: 72px;
  }
  li {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 36px;
  }
}
.social-link {
  position: absolute;
  background-color: $color-purple;
  @include bg(center, center, 80%);
  &.facebook {
    top: 1px;
    right: 1px;
    width: 20px;
    height: 20px;
  }
  &.twitter {
    right: 1px;
    bottom: 1px;
    width: 26px;
    height: 26px;
  }
  &.google-plus {
    top: 1px;
    left: 1px;
    width: 32px;
    height: 32px;
  }
  &.vk {
    top: 1px;
    left: 1px;
    width: 34px;
    height: 34px;
  }
}