.top-slider {
  position: relative;
  margin-bottom: 40px;
  padding-bottom: 30px;
  &:before {
   content: "";
    @include pos(absolute, $bottom: 0, $left: 0);
    width: 100%;
    height: 30px;
    background: url('#{$path-images}/top-slider-bg.jpg') no-repeat center center / cover;
  }
  .slide {
    @include bg(center, center, cover);
  }
  .slider-for {
    position: relative;
    margin-bottom: 0 !important;
    .slide {
      height: 70vh;
    }
  }
  .slick-arrow {
    @include pos(absolute, calc(50% - 20px));
  }
  .slider-nav {
    display: none;
    width: 1000px;
    height: 150px;
    text-align: center;
    figure {
      position: relative;
      display: block;
      width: 100px;
      height: 100px;
      margin-right: auto;
      margin-left: auto;
      border-radius: 50%;
      border: 4px solid $color-white;
      overflow: hidden;
      @include bg(center, center, cover);
      cursor: pointer;
      &:before {
        content: "";
        @include pos(absolute,0,0,0,0);
        border-radius: 50%;
        background-color: rgba($color-light-purple, .5);
        opacity: 1;
        transition: opacity .3s ease;
      }
    }
    .slick-current {
      figure:before {
        opacity: 0;
      }
    }
    .slide:nth-child(odd){
      padding-top: 50px;
    }
    .slide:nth-child(even){
      padding-bottom: 50px;
    }
  }
  .slide-content {
    @include flex(column, center, center, wrap);
    @include pos(absolute, 0, $right: 0);
    width: 100%;
    height: 100%;
    padding: 0 45px;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: $color-purple;
    z-index: 1;
    background: radial-gradient(circle, $color-white, $color-transparent);
  }
  .go-to-event {
    display: inline-block;
    padding: 5px 10px;
    background-color: $color-purple;
    color: $color-white;
    border: 6px solid #f0f0f0;
    border-radius: 3px;
  }
  .ad-link {
    display: block;
    width: 100%;
    height: 50px;
    @include bg(center, center, contain);
    text-indent: -9999px;
  }
}
@include mob-landscape {
  .top-slider {
    .slider-for {
      .slide {
        height: 100vh;
      }
    }
  }
}
@include lap {
  .top-slider {
    .slide-content {
      text-align: right;
      align-items: flex-end;
      h2 {
        margin-top: -30px;
      }
      time,
      address {
        font-size: 18px;
        line-height: 24px;
      }
    }
  }
}
@include desk {
  .top-slider {
    .slide-content {
      h2 {
        margin-top: 0;
      }
    }
  }
}
.no-dev {
  .top-slider {
    padding-bottom: 49px;
    &:before {
      height: 49px;
    }
    .slider-for {
      .slide {
        height: calc(100vh - 49px);
        overflow: hidden;
      }
    }
    .slide-content {
      width: 70%;
      background: linear-gradient(90deg, $color-transparent, $color-white);
    }
    .slick-arrow {
      @include pos(absolute, calc(100% - 120px));
    }
    .slick-prev {
      left: 50px;
    }
    .slick-next {
      right: 50px;
    }
    .slider-nav {
      display: block;
      @include pos(absolute, $bottom: 60px, $left: calc(50% - 500px));
      .slick-track {
        margin: 0 auto;
      }
    }
  }
}