<div class="event-search">
	<form>
		<div class="form-row city" style="background-image: url('svg/earth.svg');">
			<select name="city" id="city">
				<option value="city-1">City-1</option>
				<option value="city-2">City-2</option>
				<option value="city-3">City-3</option>
				<option value="city-4">City-4</option>
				<option value="city-5">City-5</option>
				<option value="city-6">City-6</option>
				<option value="city-7">City-7</option>
				<option value="city-8">City-8</option>
				<option value="city-9">City-9</option>
				<option value="city-10">City-10</option>
			</select>
		</div>
		<div class="form-row rubric" style="background-image: url('svg/kubi.svg');">
			<select name="rubric" id="rubric">
				<option value="rubric-1">Rubric-1</option>
				<option value="rubric-2">Rubric-2</option>
				<option value="rubric-3">Rubric-3</option>
				<option value="rubric-4">Rubric-4</option>
				<option value="rubric-5">Rubric-5</option>
				<option value="rubric-6">Rubric-6</option>
				<option value="rubric-7">Rubric-7</option>
				<option value="rubric-8">Rubric-8</option>
				<option value="rubric-9">Rubric-9</option>
				<option value="rubric-10">Rubric-10</option>
			</select>
		</div>
		<div class="form-row search-wrap" style="background-image: url('svg/search.svg');">
			<input type="search" name="search" placeholder="Поиск по событиям">
		</div>
		<p class="form-row">
			<input type="radio" id="new" name="kind-of-event" checked>
			<label style="background-image: url('svg/new.svg');" for="new">Новые</label>
		</p>
		<p class="form-row">
			<input type="radio" id="most-popular" name="kind-of-event">
			<label style="background-image: url('svg/comsing.svg');" for="most-popular">Самые обсуждаемые</label>
		</p>
	</form>
</div>