<footer class="footer_">
  <div class="container">
    <nav>
      <div class="nav-item">
        <h3>Театр</h3>
        <ul>
          <li><a href="javascript:void(0)">Балет</a></li>
          <li><a href="javascript:void(0)">Опера</a></li>
          <li><a href="javascript:void(0)">Трагедия</a></li>
          <li><a href="javascript:void(0)">Пантомима</a></li>
          <li><a href="javascript:void(0)">Комедия</a></li>
          <li><a href="javascript:void(0)">Биография</a></li>
          <li><a href="javascript:void(0)">Сказка</a></li>
        </ul>
      </div>
      <div class="nav-item">
        <h3>Концерты</h3>
        <ul>
          <li><a href="javascript:void(0)">Рок</a></li>
          <li><a href="javascript:void(0)">Поп</a></li>
          <li><a href="javascript:void(0)">Фанк</a></li>
          <li><a href="javascript:void(0)">Поп-рок</a></li>
          <li><a href="javascript:void(0)">Альтернативный рок</a></li>
          <li><a href="javascript:void(0)">Классика</a></li>
          <li><a href="javascript:void(0)">Синти-поп</a></li>
        </ul>
      </div>
      <div class="nav-item">
        <h3>Фестивали</h3>
        <ul>
          <li><a href="javascript:void(0)">Рок</a></li>
          <li><a href="javascript:void(0)">Дэнс</a></li>
          <li><a href="javascript:void(0)">Хардкор</a></li>
          <li><a href="javascript:void(0)">Джаз</a></li>
          <li><a href="javascript:void(0)">Фолк</a></li>
          <li><a href="javascript:void(0)">Фестиваль</a></li>
        </ul>
      </div>
      <div class="nav-item">
        <h3>Детям</h3>
        <ul>
          <li><a href="javascript:void(0)">Классика</a></li>
          <li><a href="javascript:void(0)">Музыкальный спектакль</a></li>
          <li><a href="javascript:void(0)">Экскурсия</a></li>
          <li><a href="javascript:void(0)">Большая перемена</a></li>
          <li><a href="javascript:void(0)">Мюзикл</a></li>
          <li><a href="javascript:void(0)">Балет</a></li>
          <li><a href="javascript:void(0)">Цирк</a></li>
        </ul>
      </div>
      <div class="nav-item">
        <h3>Спорт</h3>
        <ul>
          <li><a href="javascript:void(0)">Футбол</a></li>
          <li><a href="javascript:void(0)">Баскетбол</a></li>
          <li><a href="javascript:void(0)">Фигурное катание</a></li>
          <li><a href="javascript:void(0)">Хоккей</a></li>
          <li><a href="javascript:void(0)">Бокс</a></li>
          <li><a href="javascript:void(0)">Гонки</a></li>
          <li><a href="javascript:void(0)">Танцы</a></li>
        </ul>
      </div>
    </nav>
  </div>
</footer>
