<header class="header_">
  <strong class="logo" style="background-image: url('dist/images/logo.png');"><a href="index.html">EentArea</a></strong>
  <nav class="header-nav">
    <ul>
      <li><a href="javascript:void(0)">Главная</a></li>
      <li><a href="javascript:void(0)">Афиша</a></li>
      <li><a href="javascript:void(0)">Рецензии</a></li>
      <li><a href="javascript:void(0)">Рейтинги</a></li>
      <li><a href="javascript:void(0)">Войти</a></li>
    </ul>
  </nav>
  <div class="menu-btn">
    <span></span>
  </div>
</header>
