<nav class="main-nav">
  <div class="menu-btn">
    <span></span>
  </div>
  <strong class="logo" style="background-image: url('dist/images/logo.png');"><a href="index.html">EentArea</a></strong>
  <ul class="main-menu">
    <li class="navigation">Навигация
      <ul>
        <li><a href="javascript:void(0)">Главная</a></li>
        <li><a href="javascript:void(0)">Афиша</a></li>
        <li><a href="javascript:void(0)">Рецензии</a></li>
        <li><a href="javascript:void(0)">Рейтинги</a></li>
      </ul>
    </li>
    <li class="search">Поиск мероприятий

      <div class="event-search">
        <form action="">
          <div class="form-row city" style="background-image: url('svg/earth.svg');">
            <select name="city" id="nav-city">
              <option value="city-1">City-1</option>
              <option value="city-2">City-2</option>
              <option value="city-3">City-3</option>
              <option value="city-4">City-4</option>
              <option value="city-5">City-5</option>
              <option value="city-6">City-6</option>
              <option value="city-7">City-7</option>
              <option value="city-8">City-8</option>
              <option value="city-9">City-9</option>
              <option value="city-10">City-10</option>
            </select>
          </div>
          <div class="form-row rubric" style="background-image: url('svg/kubi.svg');">
            <select name="rubric" id="nav-rubric">
              <option value="rubric-1">Rubric-1</option>
              <option value="rubric-2">Rubric-2</option>
              <option value="rubric-3">Rubric-3</option>
              <option value="rubric-4">Rubric-4</option>
              <option value="rubric-5">Rubric-5</option>
              <option value="rubric-6">Rubric-6</option>
              <option value="rubric-7">Rubric-7</option>
              <option value="rubric-8">Rubric-8</option>
              <option value="rubric-9">Rubric-9</option>
              <option value="rubric-10">Rubric-10</option>
            </select>
          </div>
          <div class="form-row search-wrap" style="background-image: url('svg/search.svg');">
            <input type="search" name="search" placeholder="Поиск по событиям">
          </div>
          <input type="radio" id="nav-new" name="kind-of-event" checked>
          <label style="background-image: url('svg/new.svg');" for="nav-new">Новые</label>
          <input type="radio" id="nav-most-popular" name="kind-of-event">
          <label style="background-image: url('svg/comsing.svg');" for="nav-most-popular">Самые обсуждаемые</label>
        </form>
      </div>

    </li>
    <li class="social">Социальные сети
      <div class="social-links">
        <ul>
          <li>

            //= social-links/twitter

          </li>
          <li>

            //= social-links/vk

          </li>
          <li>

            //= social-links/facebook

          </li>
          <li>

            //= social-links/google-plus

          </li>
        </ul>
      </div>
    </li>
  </ul>
</nav>