<div class="top-slider">
  <div class="slider-for">
    <div class="slide" style="background-image: url('dist/images/slide-1.jpg')">
      <div class="slide-content">
        <h2>Evanescence</h2>
        <time datetime="2017-03-21">21/03/2017</time>
        <address>Stereo Plaza</address>
        <a href="event.html" class="go-to-event">Перейти к мероприятию</a>
        <div class="ad-block">
          <h4 class="ad-title">Эсклюзивная продажа</h4>
          <a class="ad-link" href="javascript:void(0)"><img src="dist/images/internet-bilet.png" alt=""></a>
        </div>
      </div>
    </div>
    <div class="slide" style="background-image: url('dist/images/slide-2.jpg')"></div>
    <div class="slide" style="background-image: url('dist/images/slide-3.jpg')"></div>
    <div class="slide" style="background-image: url('dist/images/slide-4.jpg')"></div>
  </div>
  <!--<div class="slider-nav">-->
    <!--<div class="slide" style="background-image: url('dist/images/slide-1.jpg')"></div>-->
    <!--<div class="slide" style="background-image: url('dist/images/slide-2.jpg')"></div>-->
    <!--<div class="slide" style="background-image: url('dist/images/slide-3.jpg')"></div>-->
    <!--<div class="slide" style="background-image: url('dist/images/slide-4.jpg')"></div>-->
  <!--</div>-->
</div>